# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Database files
*.sqlite3
*.db

# Upload folders (if you want to ignore them)
static/profile_uploads/
ifro/optimization/resume_uploads/

venv/
Include/
Lib/
Scripts/
pyvenv.cfg
ifro/optimization/resume_uploads/
__pycache__/
*.pyc
