<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/StudentVantage Logo.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='saved.css') }}">
</head>
<body>
    <div class="nav">
        <div class="brand">
            <h1>Student Vantage</h1>
        </div>
        <div class="tabs">
            <ul>
                <li><a href="{{url_for('home') }}">Home</a></li> <!--Home-->
                <li><a href="{{url_for('message') }}">Message</a></li> <!--Message-->
                <li><a href="{{url_for('application') }}">Applications</a></li> <!--Applications-->
                <li><a href="{{url_for('saved') }}">Saved</a></li>
            </ul>
        </div>
        <div class="profile">
            <a href="{{url_for('profile') }}">    
                <img src="{{ url_for('static', filename='profile_uploads/' + (user.profile_pic or 'profile blank.jpg')) }}" alt="Profile Picture">
            </a>
            <ul><li><a href="{{url_for('profile') }}">{{ user.username }}</a></li></ul>
        </div>
    </div>
    <div class="container">
        {% if saved_results and saved_results|length > 0 %}
            {% for result in saved_results %}
                <div>
                    <h3>{{ result.job }}</h3>
                    <p>{{ result.company }} - {{ result.location }}</p>
                    <a href="{{ result.url }}" target="_blank">View Original</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty-save">
                <p>No saved listings</p>
                <a href="{{ url_for('search')}}">Search Listings</a>
            </div>
            
        {% endif %}
    </div>
</body>
</html>