<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='sohome.css') }}">
    <title>App (Base Version)</title>
</head>
<body>
    <div class="nav">
        <div class="brand">
            <h1>InternMate</h1>
        </div>
        <div class="tabs">
            <ul>
                <li><a href="{{url_for('home') }}">Home</a></li> <!--Home-->
                <li><a href="{{url_for('message') }}">Message</a></li> <!--Message-->
                <li><a href="{{url_for('application') }}">Applications</a></li> <!--Applications-->
                <li><a href="{{url_for('history') }}">History</a></li> <!--History-->
            </ul>
        </div>
        <div class="profile">
            <a href="{{url_for('login') }}">    
                <img src="{{ url_for('static', filename='profile_uploads/' + (user.profile_pic or 'profile blank.jpg')) }}" alt="Profile Picture">
             </a>
            <ul><li><a href="{{url_for('login') }}">Login/Register</a></li></ul>
        </div>
    </div>
    <div class="search_bar">
        <form method="POST" action="{{ url_for('search') }}">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button> <!--! Search button should take user to the search page and show the results-->
        </form>
    </div>
    <div class="results">
        <ul>
            {% if results and results| length > 0 %}    
                {% for result in results %}
                    <li>
                        <strong>{{ result.job }}</strong> at {{ result.company }} ({{ result.location }})<br>
                        <a href="{{ result.url }}" target="_blank">View Job</a> | Posted: {{ result.posted }}
                    </li>
                {% endfor %}
            {% else %} 
                <li>No results found</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>